<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ext</th>
    <th>Email</th>
    <% if User.is_admin?(session[:user]) %>
    <th></th>
    <th></th>
    <th></th>
  <% end %>
  </tr>

<% @users.each do |user| %>
  <tr  class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= user.name %></td>
    <td><%= user.ext %></td>
    <td><%= user.email %></td>
    <% if session[:user].id == user.id || User.is_admin?(session[:user]) %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <%end %>
    <% if User.is_admin?(session[:user])%>
      <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br />


<% if User.is_admin?(session[:user]) %>
  <%= link_to 'New User', new_user_path %>
<% end %>
