<h1>Listing histories</h1>

<table>
  <tr>
    <th>Borrower</th>
    <th>Book</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @histories.each do |history| %>
  <tr>
    <td><%= history.borrower_id %></td>
    <td><%= history.book_id %></td>
    <td><%= link_to 'Show', history %></td>
    <td><%= link_to 'Edit', edit_history_path(history) %></td>
    <td><%= link_to 'Destroy', history, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New History', new_history_path %>
