<h1>Listing books</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th>Pub_ date</th>
    <th>Publisher</th>
    <th>Status</th>
    <th>Borrower</th>
    <th>Borrow_date</th>
    <th>Donator</th>
    <th>Detail</th>
     <% if User.is_admin?(session[:user]) %>
      <th></th>
      <th></th>
     <% end %>
  </tr>

<% @books.each do |book| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= book.name %></td>
    <td><%= book.author %></td>
    <td><%= book.pub_date %></td>
    <td><%= book.publisher %></td>
    <td><%= book.status %></td>
    <% if(book.borrower_id && User.find(book.borrower_id))%>
      <td><%= User.find(book.borrower_id).name %></td>
    <% else %>
      <td>&nbsp;</td>
    <% end%>
    <% if book.status == '借出' %>
        <td><%= book.updated_at.to_date %></td>
        <% else %>
        <td>&nbsp;</td>
      <% end %>
    <td><%= book.donator %></td>
    <td><a href="<%= book.douban_url%>">detail</a></td>
     <% if User.is_admin?(session[:user]) %>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy', book, confirm: 'Are you sure?', method: :delete %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br />

<% if User.is_admin?(session[:user]) %>
  <%= link_to 'New Book', new_book_path %>
<% end %>
