<!DOCTYPE html>
<html>
<head>
  <title>Autolib</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p><%= link_to "Sign out", "/signout" %></p>

<%= yield %>

</body>
</html>
